    <h1>Pirate Booty</h1>

<form action="/pirates" method="post">
  <label for="name"> Pirate Name:</label><br>
  <input type="text" id="name" name="pirate[name]"><br>
  <label for="weight"> Pirate Weight:</label><br>
  <input type="text" id="weight" name="pirate[weight]"><br>
  <label for="height">Pirate Height:</label><br>
  <input type="text" id="height" name="pirate[height]"><br>
  
  <label for="name">First Ship's Name:</label><br>
  <input type="text" id="ship_name_1" name="pirate[ship][][name]"><br>
  <label for="type">First Ship's Type:</label><br>
  <input type="text" id="ship_type_1" name="pirate[ship][][type]"><br>
  <label for="booty">First Ship's Booty:</label><br>
  <input type="text" id="ship_booty_1" name="pirate[ship][][booty]"><br>
  
  <label for="name">Second Ship's Name:</label><br>
  <input type="text" id="ship_name_2" name="pirate[ship][][name]"><br>
  <label for="type">Second Ship's Type:</label><br>
  <input type="text" id="ship_type_2" name="pirate[ship][][type]"><br>
  <label for="booty">Second Ship's Booty:</label><br>
  <input type="text" id="ship_booty_2" name="pirate[ship][][booty]"><br>
  <input type="submit">
  </form>
  </body>
</html>

